.titulo{
    color: white;
    text-size-adjust: 40;
    text-align: center;
}

.sb{
    color: white;
    text-size-adjust: 20;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
