.titulo{
    color: white;
    text-size-adjust: 40;
    text-align: center;
}

.sb{
    color: white;
    text-size-adjust: 20;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.cajitapulenta {
    background-color:  #000000;
    opacity: 0.9;
    width: 100%;
    height: 500px;
  }

