<nav class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button"> </button>

    <div class="collapse navbar-collapse" id="opciones">   
        <ul class="navbar-nav">
          <li class="nav-item"> <a class="nav-link  active" href="{% url 'Quienessomos' %}">Quienes somos</a> </li>
          <li class="nav-item"> <a class="nav-link  active" href="cutestpets.html">Galeria</a> </li>
          <li class="nav-item"> <a class="nav-link  active" href="exitscam.html">Animales en venta</a> </li>           
        </ul>
          <span class="navbar-brand ml-auto"> <h4>[Brand] <img src="{% static 'core/img/flop.gif'%}" width="30" height="30" alt=""></h4> </span> 
    </div>
</nav>